/* Post title hover underline effect */
.post-title {
  color: #000;
  display: inline;
  text-decoration: none;
  background-image: linear-gradient(#3deaa4, #3deaa4);
  background-position: 0% 80%;
  background-repeat: no-repeat;
  background-size: 0% 8px;
  transition: background-size 0.3s;
}

a.post-title:hover {
  color: #000;
  background-size: 100% 8px;
}

/* Read more button */
.read-more-btn {
  font-size: 18px;
}

/* Markdown content styles */
.content * {
  margin-bottom: 5px;
}
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  margin-bottom: 20px;
  margin-top: 30px;
}
.content a {
  color: inherit !important;
  display: inline;
  text-decoration: none;
  background-image: linear-gradient(#3deaa4, #3deaa4);
  background-position: 0% 110%;
  background-repeat: no-repeat;
  background-size: 100% 3px;
  transition: 0.3s;
}
.content a:hover {
  color: #000;
  background-size: 100% 100%;
}
.content ol {
  padding-left: 20px;
}
.content ul {
  padding-left: 0;
}
.content ul li {
  position: relative;
  padding-left: 15px;
  margin-bottom: 10px;
  list-style-type: none;
}
.content ul li a {
  display: inline-block;
  margin-bottom: 10px;
}
.content ul li::before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 100%;
  left: 0;
  top: 7px;
  background-color: #13AE6F;
  transition: 0.3s ease;
}
.content table {
  text-align: left;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  border: 1px solid #dee2e6;
}
.content table th,
.content table td {
  padding: 0.75rem;
  vertical-align: top;
  border: 1px solid #dee2e6;
}
.content table thead {
  background: #f1f1f1;
}
.content table tbody {
  background: #F6F6F6;
}
.content table tbody td {
  text-align: left !important;
}
.content blockquote {
  border-left: 4px solid #13AE6F;
  padding: 20px;
  margin: 20px 0;
}
.content blockquote p {
  margin-bottom: 0;
  color: #333;
  font-style: italic;
  font-size: 20px;
  font-weight: 500;
}
.content pre {
  padding: 10px 20px;
  background: #F6F6F6;
}

/* Selection color */
::selection {
  background: #13AE6F;
  color: #fff;
}
